/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?twu8zo");
  src: url("/fonts/icomoon.eot?twu8zo#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?twu8zo") format("truetype"), url("/fonts/icomoon.woff?twu8zo") format("woff"), url("/fonts/icomoon.svg?twu8zo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-dribbble-24:before {
  content: "\e901"; }

.icon-twitter-square:before {
  content: "\f081"; }

.icon-facebook-square:before {
  content: "\f082"; }

.icon-github-square:before {
  content: "\f092"; }

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
html {
  font-size: 62.5%; }

body {
  -webkit-font-smoothing: 'antialiased';
  -moz-osx-font-smoothing: 'grayscale';
  font-family: "chaparral-pro", "Times New Roman", serif;
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
  background-color: black; }

h1, h2, h3, h4, h5, h6 {
  font-family: "ocr-a-std", Verdana, sans-serif;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  color: #4FE399; }

h1 {
  font-size: 300%;
  margin-bottom: 1em;
  line-height: 1.5em; }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 180%; } }

h2 {
  font-size: 120%;
  text-transform: uppercase;
  margin-bottom: 0.5em; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 100%; } }

strong {
  font-weight: 700;
  font-style: normal; }

a {
  color: #4FE399;
  text-decoration: none; }

a:hover {
  color: #a7f1cc; }

input, button {
  font-family: "chaparral-pro", "Times New Roman", serif;
  font-size: 100%;
  padding: 0px 20px;
  line-height: 2.2em; }
  @media screen and (max-width: 768px) {
    input, button {
      font-size: 80%;
      padding: 0px 10px; } }

input[type=submit], button {
  font-family: "ocr-a-std", Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

/*
    Exceptions
*/
.darker {
  background-color: #F7F7F7; }

.stacked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

#site-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  background-color: white; }

/*
  Modal page layout
*/
#modal .site-header {
  border-bottom: 1px solid #333333; }

#modal #site-container {
  background-color: black;
  color: white; }

footer.site-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  padding-bottom: 2em; }
  footer.site-footer .footer-copyright {
    line-height: 3em;
    font-size: 90%;
    color: #f0f0f0;
    text-align: center; }

.site-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0 22px;
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  background-color: black; }
  .site-navigation a {
    text-decoration: none;
    color: white;
    line-height: 60px; }
  .site-navigation .site-title {
    font-family: "ocr-a-std", Verdana, sans-serif;
    font-size: 140%;
    color: #4FE399;
    background: url("/img/backspace-logo.svg") 0px 0px no-repeat;
    text-indent: -9999px;
    display: inline-block;
    width: 181px;
    height: 22px; }
  .site-navigation .site-nav a {
    display: inline-block;
    line-height: 60px;
    margin-left: 30px;
    border-top: 2px solid transparent; }
  .site-navigation .site-nav a.active {
    color: #4FE399;
    border-top: 2px solid #4FE399; }

.site-form-signup {
  min-width: 50%;
  max-width: 450px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .site-form-signup input[type=email] {
    width: 70%;
    border-radius: 8px 0px 0px 8px;
    border: none; }
  .site-form-signup input[type=submit] {
    background: #4FE399;
    border-radius: 0px 8px 8px 0px;
    border: none; }

@media screen and (min-width: 1200px) {
  #site-container, .site-navigation {
    max-width: 1200px; } }

@media screen and (min-width: 1800px) {
  #site-container, .site-navigation {
    max-width: 1800px; } }

.hero-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 600px;
  background-color: black;
  background-size: cover; }
  .hero-cover .hero-tagline {
    text-rendering: optimizelegibility;
    text-shadow: 1px 1px 2px rgba(146, 150, 150, 0.55);
    color: #fff;
    font-family: "chaparral-pro", "Times New Roman", serif;
    font-weight: 300;
    font-style: italic;
    width: 80%; }

.content-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4% 6%; }
  @media screen and (max-width: 768px) {
    .content-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .content-block.stacked {
    text-align: center; }
  .content-block.no-bottom-padding {
    padding-bottom: 0; }
  .content-block .content-block-img {
    max-width: 100%;
    padding: 44px; }
    .content-block .content-block-img img {
      max-width: 100%; }

.content-block-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center;
  margin-top: 40px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .content-block-grid {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

.grid-item {
  margin: 0 3%;
  min-width: 140px;
  max-width: 280px; }
  .grid-item .grid-item-title {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 100%;
    height: 60px;
    margin-bottom: 22px; }
  .grid-item .grid-item-img {
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    background-color: #F0F0F0;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
    text-indent: -9999px; }
  .grid-item .grid-item-desc {
    margin: 20px 0; }

.home-cover {
  background-image: url("/img/content/home/header-photo-temp.jpg"); }

.home-journal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0;
  text-align: center;
  font-size: 90%; }
  .home-journal h2 {
    margin-bottom: 2em; }

.home-journal-posts a {
  display: inline-block; }

.home-journal-posts a:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #4FE399;
  opacity: 0.3; }

.home-journal-posts .post-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "ocr-a-std", Verdana, sans-serif;
  font-size: 140%;
  color: white;
  text-decoration: none;
  background: transparent;
  opacity: 1.0;
  padding: 12% 10%;
  box-sizing: border-box; }
  @media screen and (max-width: 1200px) {
    .home-journal-posts .post-title {
      font-size: 120%; } }

.portfolio-cover {
  background-image: url("/img/content/portfolio/header-photo-2-temp.JPG"); }

.content-block-milestones {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.milestone-item {
  text-align: left;
  border-left: 2px solid #999999;
  padding: 40px;
  position: relative;
  width: 50%; }
  .milestone-item .milestone-item-date {
    font-weight: 300;
    font-style: italic; }
    .milestone-item .milestone-item-date:before {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50px;
      left: -6px;
      background-image: url(/img/dot.svg);
      background-size: contain; }
  .milestone-item .milestone-item-title {
    font-weight: 700;
    font-style: normal; }

.people-cover {
  background-image: url(/img/content/people/office.jpg); }

.people-grid .grid-item {
  margin: 0px 5%; }
  .people-grid .grid-item .grid-item-img {
    background-color: inherit;
    border: none;
    background-size: contain; }

.get-in-touch-grid .grid-item .grid-item-img {
  background-color: #4FE399;
  border: none;
  background-size: contain;
  background-position: center; }

.icon {
  text-decoration: none; }

#contact {
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

#contact .get-in-touch {
  margin: 80px 0;
  text-align: center; }
  #contact .get-in-touch p.intro {
    color: white;
    font-size: 200%; }
  #contact .get-in-touch p {
    font-size: 300%; }

#contact .map-wrapper {
  width: 100%;
  border-top: 1px solid #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center; }

#contact .map {
  -webkit-box-flex: 1;
  -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
          flex: 1 50%; }

#contact .contact-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
          flex: 1 50%; }

#contact .contact-wrapper .vcard {
  border-bottom: 1px solid #333333;
  padding: 24px 0; }

#contact .contact-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 60px 10%; }

#contact .contact-social a {
  color: white;
  font-size: 140%; }

#contact .contact-social a:hover {
  color: #4FE399; }

@media screen and (max-width: 768px) {
  #contact .get-in-touch p.intro {
    font-size: 100%; }
  #contact .get-in-touch p {
    font-size: 200%; }
  #contact .map, #contact .contact-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%; } }

@media screen and (max-width: 480px) {
  #contact .get-in-touch p.intro {
    font-size: 100%; }
  #contact .get-in-touch p {
    font-size: 120%; }
  #contact .map {
    display: none; } }
