doctype html
html
	include head.slim
	body.contactpage
		.row.fullview.viewport1
			.column.small-12
				.menu
					.contactus
						a href="./"
							/ img.contacticon src="img/Contact.svg"
							span.contact Home
					.logo
						a href="./"
							img.showsmall src="img/Logo-notxt.svg"
							img.hidesmall src="img/Logo.svg"
				.vertcenter.vertcol
					.column.small-12.medium6
						.content.center
							h3 Get in touch
							/ p &nbsp;
							p
								a href="mailto:hello@backspace.studio" hello@backspace.studio
							p
								a href="tel:+31202614663" +31 (0)20 261 4663
							p &nbsp;
							h3 Stay in touch
							/ p &nbsp;
							.socialicons
								a href="https://twitter.com/backspacehq"
									img src="img/Twitter.svg"
								a href="https://instagram.com/backspacehq"
									img src="img/Instagram.svg"
								a href="https://github.com/backspacehq"
									img src="img/Github.svg"
								a href="https://dribbble.com/backspace"
									img src="img/Dribbble.svg"
							p 	&nbsp;
							h3 	Visit us
							p	Johan Huizingalaan 763A
							p	1066VH Amsterdam
							p	The Netherlands
							p 	&nbsp;
							.maplinks.maxwidth
								p
									a.maplink href="https://maps.apple.com/?address=Johan%20Huizingalaan%20763A,%201066%20VH%20Amsterdam,%20Nederland&auid=7070016371256689730&ll=52.342791,4.829502&lsp=9902&q=Backspace&t=m" Apple Maps
								p
									a.maplink href="https://www.google.nl/maps/place/Backspace/@52.3430396,4.8270865,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5e1894bd88e31:0xc4301e949128961f!8m2!3d52.3430396!4d4.8292805?hl=en" Google Maps