doctype html
html
	include head.slim
	body.entrepeneur
		.row.fullview.viewport1.greenback
			.column.small-12
				.menu
					.contactus
						a href="./"
							/ img.contacticon src="img/Contact.svg"
							span.contact Home
					.logo
						a href="./"
							img.showsmall src="img/Logo-notxt.svg"
							img.hidesmall src="img/Logo.svg"
				.vertcenter.vertcol
					.column.small-12.medium6
						.content.center
							h3 Get in touch
