doctype html
html
	include head.slim
	body.home
		.row.fullview.viewport1
			.column.small-12
				include menu.slim
				/ .menu
				/ 	.contactus
				/ 		a href="contact.html"
				/ 			img.contacticon src="img/Contact.svg"
				/ 			span.hidesmall.contact Contact
				/ 	.logo
				/ 		img.showsmall src="img/Logo-notxt.svg"
				/ 		img.hidesmall src="img/Logo.svg"
				.vertcenter.vertcol
					h1.herocopy.gutters Don’t scale back your ideals, when scaling your business
		.row.fullview.vertcenter.viewport2
			.column.small-12.medium6
				p.center.maxwidth.gutters.heavy Backspace is a venture studio for technology entrepreneurs with ideals worth building into impactful companies
				p.center.maxwidth.gutters Doing good is so self-evident, we sometimes forget it’s possible. We hope you, whether an entrepreneur, investor or expert, know what’s most needed right now. Let’s build exactly that, together.
		.row.viewport3
			.column.small-12.medium6.maxwidth
				h3.gutters.journal Backspace Journal
				p.gutters What we've <A href="https://journal.backspace.studio/">learned</A> so far.
				.links.gutters
					- for post in posts
						.postlink
							a href="https://journal.backspace.studio/#{post['uniqueSlug']}"
						    	= post['title']

				p &nbsp;
		include footer.slim
