doctype html
html
	include head.slim
	body.investor
		.row.fullview.viewport1.greenback
			include menu.slim
			.vertcenter.vertcol
				.column.small-12.medium6
					.content.gutters
						h1.blue.text-center For you, the investor
						p.text-center.topspace Every day, we see examples of how people perform beyond expectations when their impact is backed up with profit. That's why we team up with technology entrepreneurs to make their ideals economically viable. And we do so via an analytical model, underpinned with some years of skin in the game ourselves. 
		.row.viewport2
				.content.widegutters
					h2.blue.topspace4x Our Portfolio
					p.topspace Ask <A HREF="mailto:arnoud@backspace.studio">Arnoud</A> why Backspace backed Florin, Soverin and BYBORRE. 
					.people.bottomspace4x.clearfix
						.company
							img.companylogo src="/img/Byborre_Gray.png"
							.name BYBORRE
							.title Social payments
							.stage Current phase: seed
						.company
							img.companylogo src="/img/Florin_Gray.png"
							.name Florin
							.title Textile inovation studio
							.stage Current phase: seed
						.company
							img.companylogo src="/img/Soverin_Gray.png"
							.name Soverin
							.title Honest email
							.stage Current phase: seed
					.clearfix


		.row.viewport3
			.content.widegutters.extrawide.text-center
				h2.blue.topspace4x.text-center Impact investing
				p.text-center Join us in shaping a new field of progress
				.graph.topspace2x.bottomspace4x
					img.showsmall src="/img/mImpact.svg" alt="Impact investing"
					img.hidesmall src="/img/Impact.svg" alt="Impact investing"
		include footer.slim