doctype html
html
	include head.slim
	body.talent
		.row.fullview.viewport1.greenback
			include menu.slim
			.vertcenter.vertcol
				.column.small-12
					.content.gutters
						h1.text-center Culture is a verb
						p.text-center.topspace The number of problems to solve is daunting, so choosing to choose is the only thing that will set you, us and others in motion. We focus on connecting our personal convictions to our daily jobs. That takes grit, creativity, and a collaborative mindset. Also known as culture.
		.row.viewport2
			.column.small-12
				.content.widegutters
					h2.blue.topspace4x Culture comes from stories. Stories come from people.
					.people.clearfix.bottomspace
						.person
							a href="mailto:arnoud@backspace.studio"
								img.avatar src="img/people/Arnoud.png"
								.persondesc Arnoud Haverlag
						.person
							a href="mailto:barbara@backspace.studio"
								img.avatar src="img/people/Barbara.png"
								.persondesc Barbara Putman Cramer
						.person
							a href="mailto:daisy@backspace.studio"
								img.avatar src="img/people/Daisy.png"
								.persondesc Daisy Buytelaar
						.person
							a href="mailto:jons@backspace.studio"
								img.avatar src="img/people/Jons.png"
								.persondesc Jons Janssen
						.person
							a href="mailto:julian@backspace.studio"
								img.avatar src="img/people/Julian.png"
								.persondesc Julian Burford
						.person
							a href="mailto:marc@backspace.studio"
								img.avatar src="img/people/Marc.png"
								.persondesc Marc Rasmussen
						.person
							a href="mailto:martijn@backspace.studio"
								img.avatar src="img/people/Martijn.png"
								.persondesc Martijn Pannevis
						.person
							a href="mailto:piotr@backspace.studio"
								img.avatar src="img/people/Piotr.png"
								.persondesc Piotr Drozd
						.person
							a href="mailto:roy@backspace.studio"
								img.avatar src="img/people/Roy.png"
								.persondesc Roy Abbink
						.person
							a href="mailto:stephanie@backspace.studio"
								img.avatar src="img/people/Stephanie.png"
								.persondesc Stephanie Brown
						.person
							a href="mailto:tijs@backspace.studio"
								img.avatar src="img/people/Tijs.png"
								.persondesc Tijs Teulings
					/ .clearfix
		.row.viewport3
			.column.small-12.medium6
				.content.widegutters.bottomspace
					h2.blue.topspace4x Learn more on working with us
					.company.topspace
						img.companylogo src="img/Backspace_blauw.png"
						ul
							li
								a href="https://backspace.homerun.co/finance-strategy-and-business-internship" Finance, strategy & business intern
							li
								a href="mailto:daisy@backspace.studio" Design Intern
							li
								a href="https://backspace.homerun.co/open-application/en/apply" Open application
					.company.topspace
						img.companylogo src="img/Byborre_Blauw.png"
						ul
							li Circular Knitting Engineer (found her!)
					.company.topspace
						img.companylogo src="img/Florin_Blauw.png"
						ul
							li
								a href="http://jobs.florinapp.com/product-designer/en" Product Designer (fulltime)
							li
								a href="http://jobs.florinapp.com/backend-developer" Backend Developer (fulltime)
							li
								a href="http://jobs.florinapp.com/product-developer" Product Developer (fulltime)
							li
								a href="https://florinapp.com/ambassadeur" Florin Ambassador (anytime)
					.company.topspace
						img.companylogo src="img/Soverin_Blauw.png"
						ul
							li
								a href="mailto:diana@soverin.net" Open application
				.bottomspace4x
				.clearfix

/ Senior Fashion Designer (fulltime)
/ Circular Knitting Engineer (found her!)
/ FLORIN — social payments
/ Product Designer (fulltime)
/ Backend Developer (fulltime)
/ Product Developer (fulltime)
/ Florin Ambassador (anytime)
/ SOVERIN — honest email
/ Open Application

script
	| $('.person').shuffle();