.content-block.journal
  .wrapper
    margin-top: 100px


.blog-grid .grid-item
  display: inline-block
  width: 424px
  color: $base-black

  .grid-item-img
    min-height: 282px
    background-color: inherit
    border: none
    background-size: contain

  .grid-item-desc
    border: 1px solid #E6E6E6
    box-sizing: border-box
    background-color: $medium-grey


.post-cover
  text-align: center
  background-image: none


.meta-block
  display: flex
  flex-direction: column
  align-items: center
  margin-top: -50px

  .meta-block-img
    width: 100px
    height: 100px
    border-radius: 50px
    background-repeat: no-repeat
    text-indent: -9999px
    background-size: auto 90%
    background-position: center
    background-color: $base-grey
    z-index: 200

.post
  width: 100%
  padding: 40px 0 140px 0

  & > *
    margin: 20px 140px

    @media screen and (max-width: $break-large)
      margin: 20px 60px

    @media screen and (max-width: $break-medium)
      margin: 20px 20px

  p > img
    max-width: 50%
    display: inline
    float: right
    margin: 22px

  blockquote
    margin: 40px 12px
    font-size: 200%
    font-style: italic

    p
      margin: 0

  ul
    list-style: disc inside none

  iframe
    width: 100%
    height: 600px

    @media screen and (max-width: $break-medium)
      height: 300px



