.content-block.journal
  .wrapper
    margin-top: 100px

a.grid-item
  font-weight: 300

.blog-grid .grid-item
  display: inline-block
  width: 424px
  color: $base-black

  .grid-item-img
    min-height: 282px
    background-color: inherit
    border: none
    background-size: cover
    position: relative

    &:before
      content: " "
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      display: inline-block
      background-image: url(/img/header-overlay.png)
      background-size: cover
      background-repeat: no-repeat


  .grid-item-desc
    border: 1px solid #E6E6E6
    box-sizing: border-box
    background-color: $medium-grey


.post-cover
  text-align: center
  background-image: none


.meta-block
  display: flex
  flex-direction: column
  align-items: center
  margin-top: -50px

  .meta-block-img
    width: 100px
    height: 100px
    border-radius: 50px
    background-repeat: no-repeat
    text-indent: -9999px
    background-size: auto 90%
    background-position: center
    background-color: $base-grey
    z-index: 200

.post
  box-sizing: border-box
  width: 100%
  padding: 40px 120px 140px 120px

  & > *
    margin: 20px 140px

  p, li
    font-size: 1.2em

  p > img
    width: calc(100% + 240px)
    display: block
    margin: 1em -120px

  h2
    margin-top: 60px
    margin-bottom: 10px

  h3
    margin-top: 10px

  blockquote
    margin: 40px 12px
    font-size: 200%
    font-style: italic

    p
      margin: 0

  ul li, ol li
    margin-bottom: .6em

  iframe
    width: 100%
    height: 600px

  @media screen and (max-width: $break-large)
    padding: 40px 80px 140px 80px
    & > *
      margin: 20px 60px

  @media screen and (max-width: $break-medium)
    padding: 40px 20px 140px 20px
    & > *
      margin: 20px 20px

    p > img
      width: 100%
      margin: 1em 0

    iframe
      height: 300px


