
.blog-cover
  background-image: url(/img/content/blog/blog-header.png);
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  background-color: #4FE39B
  background-size: 60%

.blog-grid .grid-item
  display: inline-block
  min-width: 140px
  max-width: 424px
  color: $base-black

  .grid-item-img
    min-height: 282px
    background-color: inherit
    border: none
    background-size: contain

  .grid-item-desc
    border: 1px solid #E6E6E6
    box-sizing: border-box
    background-color: $medium-grey


.post-cover
  text-align: center
  background-image: none

.meta-block
  display: flex
  flex-direction: column
  align-items: center
  margin-top: -50px

  .meta-block-img
    width: 100px
    height: 100px
    border-radius: 50px
    background-repeat: no-repeat
    text-indent: -9999px
    background-size: auto 90%
    background-position: center
    background-color: $base-grey

.post
  padding-top: 40px
  padding-bottom: 140px

  p
    padding: 20px 140px

  blockquote
    padding: 20px 100px
    font-size: 200%
    font-style: italic

    p
      padding: 0

  ul
    padding: 0 140px
    list-style: disc inside none;

    li
      padding-left: 20px
