#site-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;

  background-color: white;

}

#site-content {
  display: flex;
}

footer.site-footer {
  display: flex;
  flex-direction: column;

  background-color: black;
  padding-bottom: 2em;

  .footer-copyright {
    line-height: 3em;
    font-size: 90%;
    color: #f0f0f0;
    text-align: center;
  }

}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-height: 80px;
  padding: 0 40px;

  background-color: black;

  a {
    text-decoration: none;
    color: white;
  }

  .site-title {
    font-family: "ocr-a-std", Verdana, sans-serif;
    font-size: 140%;
  }
}

.site-form-signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: $break-large) {
  #site-container {
    max-width: $break-large;
  }
}

@media screen and (min-width: $break-xlarge) {
  #site-container {
    max-width: $break-xlarge;
  }
}
