
.people-cover
  background-image: url(/img/content/people/cultuur.png);
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  background-color: #4FE39B
  background-size: 70%

.people-grid .grid-item
  margin: 0px 5%

  .grid-item-img
    background-color: inherit
    border: none
    background-size: contain

.people-startups-grid .grid-item
  .grid-item-img
    background-color: inherit
    border: none
    background-size: contain

.get-in-touch-grid .grid-item
  .grid-item-img
    background-color: $base-green
    border: none
    background-size: contain
    background-position: center
