.portfolio-cover
  box-sizing: border-box
  background-color: #4FE39B
  //padding: 40px 60px
  img
    max-width: 100%

  @media screen and (max-width: $break-medium)
    padding: 120px 10px 20px 10px

.content-block-milestones
  display: flex
  flex-direction: column
  width: 100%
  align-items: flex-end

.milestone-item
  text-align: left
  border-left: 2px solid #999999
  padding: 40px
  position: relative
  width: 50%
  box-sizing: border-box

  .milestone-item-date
    font-weight: 300
    font-style: italic

    &:before
      content: ""
      display: block
      position: absolute
      width: 10px
      height: 10px
      top: 50px;
      left: -6px;
      background-image: url(/img/dot.svg)
      background-size: contain

  .milestone-item-title
    font-weight: 700
    font-style: normal

  &:nth-child(even)
    align-self: flex-start
    text-align: right
    border-right: 2px solid #999999
    border-left: none
    width: calc(50% + 2px)

    .milestone-item-date:before
      content: ""
      display: block
      position: absolute
      width: 10px
      height: 10px
      top: 50px;
      right: -6px;
      left: inherit
      background-image: url(/img/dot.svg)
      background-size: contain



.grid-item.portfolio
  .grid-item-desc
    padding-top: 12px

  .grid-item-img
    background-size: inherit

  h3
    font-weight: 700
    font-family: $chapparal
    color: #000
    margin-top: 44px


