.entrepeneur{

	.viewport1{
	    background-color: $green;
	    color: $blue;
	}

	a{
		color: $darkblue;
	}

	ul{
		list-style: disc;
	}

	.viewport3{
		background-color: $bluegray;
	    color: $darkblue;
	}

	.person{
		margin-right: 10px;
		margin-left: 10px;
		width: 100%;
		@media (min-width: $screen-xs-max) {
			width: calc(33% - 20px);
			float: left;
		}
	}

	.portrait{
		@extend .topspace2x;
		width: 100%;
		@extend .bottomspace;
	}

	.name{
		text-align: center;
		font-weight: bold;
	}

	.title{
		text-align: center;
	}

}