.talent{

	.viewport1{
	    background-color: $green;
	    color: $darkblue;
	}

	h1{
		color: $blue;
	}

	h2{
		@extend .bottomspace;
	}

	a{
		color: $darkblue;
	}

	ul{
		list-style: disc;
		padding-left: 2rem; //TODO can we do this nicer?
	}


	.people{

	}

	.person{
		width: 96px;
		float: left;
		margin-right: 25px;
		@media (min-width: $screen-xs-max) {
			width: 106px;
			margin-right: 70px;
		}
	}

	.avatar{
		width: 100%;
		@extend .bottomspace;
	}

	.persondesc{
		text-align: center;
		@extend .bottomspace;
		min-height: 100px; //as bar uses 3 lines..
	}

	.avatar:hover {
		//flip on hover
		-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	}

	.viewport3{
		background-color: $bluegray;
	    color: $darkblue;
	}


	.company{
		width: 100%;
		float: left;
		min-height: 360px;
		margin-right: 35px;
		@media (min-width: $screen-xs-max) {
			width: calc(50% - 36px);
			margin-right: 36px;
		}
	}

	.companylogo{
		width: 100%;
	}
}