---
layout: default
---
<div class="hero-cover post-cover matrix" style="background-image: url({{ page.cover_image }})">
  <h1 class="hero-tagline">{{ page.title }}</h1>
</div>

<div class="meta-block">
  <div class="meta-block-img" style="background-image: url({{ page.author_image }})">
    {{ page.author }}
  </div>
  <div class="meta-block-meta">
    By <strong>{{ page.author }}</strong> in <strong>#{{ page.categories }}</strong>
  </div>
</div>

<div class="content-block">
  <div class="wrapper">
    <div class="post">
      {{ content }}
    </div>
  </div>
</div>
